:root {
    --border-radius: 6px;
    --color-black: #34495e;
    --color-white: #ecf0f1;
    --color-gray: #95a5a6;
    --color-red: #e74c3c;
    --color-orange: #e67e22;
    --color-yellow: #f1c40f;
    --color-green: #27ae60;
    --color-blue: #3498db;
    --color-purple: #9b59b6;
    --color-primary: var(--color-blue);
}

.haut{
    background-color: #47ACA4;
    border-bottom-color: #F2DCA4;
    padding-top: 10px;
    padding-bottom: 10px;
    grid-column: 1/4;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.text-center{
    text-align: center;
    font-family: "bluelminbenedict", cursive;
    background-color: #47ACA4;
    border-bottom-color: #F2DCA4;
    padding-top: 5px;
    padding-bottom: 5px;
    grid-column: 2;
    grid-row: 1;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;

}

article{
    font-family: "bluelminbenedict", cursive;
    text-align: center;
}

img{
    display: flex;
}

section{
    display: grid;
    grid-template-columns: 35% 35% 35%;
    grid-template-rows: 1fr 1fr;
    gap: 10px 20px;
    grid-template-areas:
    ". . ."
    ". . .";
    grid-column: 1/3;
    grid-row: 3/4;
}

.lien{
    margin-left: 10px;
    color: #34495e;
    text-decoration: none;
    text-decoration-color: #34495e;

}

#logo{
    margin-left: 20px;
    width: 60px;
    display: inline;
    grid-column: 1;
    grid-row: 1;
}

.titre-nav{
    border-top-right-radius: 20px;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-bottom: solid;
    background-color: #F2DCA4;
    font-family: "bluelminbenedict", cursive;
    color: #34495e;
}

.nav{
    border-top-right-radius: 10%;
    background-color: #DDC484;
    grid-column: 1;
    grid-row: 2/4;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #93C8C4;
    color: var(--color-white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    gap: 10px 20px;
}


.card-body {
    padding: 0.8em;
}

.card {
    background-color: var(--color-black);
    border: solid 1px var(--color-gray);
    border-radius: var(--border-radius);
}

input {
    background-color: var(--color-black);
    border: solid 1px var(--color-gray);
    border-radius: var(--border-radius);
    padding: 2px 4px;
    color: var(--color-white);
}

header {
    background-color: var(--color-primary);
    box-shadow: 0 0 10px #0004;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    max-width: 100vw;
    min-height: 40px;
}
header > div > .button {
    background-color: var(--color-black);
    border: solid 1px var(--color-primary);
}

.button {
    margin: 4px;
    background-color: var(--color-primary);
    border: solid 1px var(--color-black);
} .button:hover {
    background-color: var(--color-primary);
    border: solid 1px var(--color-black);
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.right {
    text-align: right;
}

.inline {
    display: flex;
}

.centerX {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.centerY {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

h3 {
    margin: 8px;
    padding: 0px;
    text-align: center;
}

.inputLabel {
    margin: 8px 4px 0px 4px;
}

.inputZone {
    width: 300px;
    margin: 0px 4px 8px 4px;
}

.superForm {
    text-align: left;
    width: min-content;
    overflow: hidden;
    border: solid 1px var(--color-gray);
    border-radius: var(--border-radius);
    box-shadow: 0px 5px 10px #0004;
    transform: translateY(-20px);
}

.p {
    padding: 0px;
    margin: 0px;
}

.inBetween {
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    margin: auto;
    width: fit-content;
    height: fit-content;
    transform: translateY(10px);
    padding: 0px 14px;
}

.formDiv {
    padding: 10px;
    width: 100%;
    text-align: center;
}

.date {
    padding: 2px 4px;
    margin: 0px 4px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    background-color: #0004;
    border-radius: var(--border-radius);
}


.content{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: 4%;
}